<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="3.01977 3.29895 -0.0325519" rpy="0.933872 -0.396735 2.75414" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="3.01977 3.29895 -0.0325519   -0.0877193 -0.466947 0.841986 0.255588 tool0 camera_color_optical_frame" />
</launch>
